<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload and Preview Photos</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Upload Your Photos</h1>
      <form id="upload-form">
        <label for="photos">Select Photos:</label>
        <input
          type="file"
          id="photos"
          name="photos"
          accept="image/*"
          multiple
          required
          onchange="handleFileSelect(event)"
        />

        <div class="preview-container" id="preview-container"></div>

        <div class="total-price">
          <h3>Unit Price: ${{ unit_price }}</h3>
        </div>

        <div class="total-price">
          <h3>Total Photos: <span id="total-photos">0</span></h3>
        </div>

        <div class="total-price">
          <h3>Total Price to Pay: $<span id="total-price">0.00</span></h3>
        </div>

        <div class="sticky-footer">
          <button type="button" onclick="submitForm()">Submit</button>
        </div>
      </form>
    </div>

    <meta id="my-data" data-unit-price="{{ unit_price }}" />

    <script src="{{ url_for('static', path='js/uploadPhotos.js') }}"></script>
  </body>
</html>
